/* body section styles */
body{
    margin: 0px;
}
/* header section styles */
header{
    width:100%;
    height: auto;
    background-color: #f7e8d8;
}
.banner-container{
    width: 80vw;
    height: 100%;
    margin: 0 auto;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation h3{
    font-size: 2em;
    color: #131313;
}
.navigation ul{
    display: flex;
    align-items: center;
}
.navigation ul li{
    list-style: none;
    font-size: 1em;
    padding-right: 1.5em;
}
.navigation ul li>a{
    text-decoration: none;
    color: #424242;
}
/* banner */
.banner{
    display: grid;
    /* width: 60vw;
    margin: 0 auto; */
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap:10px;
    padding: 3% 0px;
}
.banner-details{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.banner-details> h1{
    font-size: 3em;
    margin: 0px;
}
.banner-details > p{
    color: #727272;
    font-size: 1em;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 1em;
    border-style: none;
}
.banner-image{
    border-radius: 0px;
}
.banner-image>img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* main section styles */
/* feature section styles */
.features{
    width: 70vw;
    margin: 3% auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 10px;
}
.image-collage{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
}
.child-container{
    /* border: 1px solid skyblue; */
    border-radius: 10px;
}
.child-container > img{
    width: 100%;
    height: 100%;
}
.features-decsription{
    /* border: 1px solid skyblue; */
    margin: auto;
    width: 80%;
}
.features-decsription>h1{
    margin: 0px;
    font-size: 3em;
}
.features-decsription>p{
    color: #727272;
    font-size: 1em;
}


/* experience section styles */
.experience{
    width: 70vw;
    margin: 3% auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 70px;
}
.experience-details>h1{
    width: 40%;
}
.experience-cards{
    box-shadow:  0px 0px 5px lightgray;
    /* border: 1px solid; */
    padding: 2%;
    margin: 2% 0px;
}
.experience-cards h4{
    font-size: 1em;
    margin: 0px;
}
.experience-cards>p{
    color: #727272;
    font-size: 1em;
    margin: 0px;
    padding-top: 5px;
}
.experience-image{
    border-radius: 8px;
    position: relative;
}
.experience-image img{
    width: 100%;
    height: 100%;
}
.years-experience{
    width: 10em;
    background-color: #FF900E;
    text-align: center;
    position: absolute;
    top: 90%;
    left: -9%;
    border-radius: 8px;
}
.years-experience>h3{
    color: white;
    padding: 2%;
    font-size: x-large;
}









/* facts section styles */
.facts{
    width: 70vw;
    margin: 3% auto;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: auto;
    gap: 20px;
}
.facts-cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}
.facts-description{
    width: 50%;
}
.facts-description>h1{
    margin: 0px;
}
.facts-description>p{
    color: #727272;
    font-size: 1em;
}
.card{
    border: 1px solid #ffd7a9;
    border-radius: 5px;
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
}
.card img{
    width: 30%;
    height: 30%;
}
.card>h3{
    font-size: 1.2em;
    margin: 0.4em;
}
.card > p{
    color: #727272;
    font-size: 1em;
    margin: 0px;
}


/* sponsors section styles */
.sponsors{
    width: 70vw;
    margin: 3% auto;
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: auto;
    gap: 30px;
}
.sponsor-description{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.sponsor-description>h3{
    font-size: 1.2em;
    margin: 0.4em;
}
.sponsor-description>p{
    color: #bb1818;
    font-size: 1em;
    margin: 0px;
}
.sponsor-logos{
    /* using flex */
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    /* using grid */
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
}
.sponsor-logos img{
    width: 7em;
    height: 3em;
    filter: grayscale(100%);
}

/* footer section styles */

footer{
    width: 70vw;
    margin: 3% auto;
    border-radius: 8px;
    background-color: #f7e8d8;
    text-align: center;
    padding: 0.4em;
}
footer > p{
    color: #727272;
    font-size: 1em;
}












/* responsive section */
/* header section responsive */

@media screen and (max-width:576px) {
    .navigation{
        flex-direction: column;
    }
    .navigation h3{
        font-size: 2em;
    }
    .navigation ul li{
        font-size: 1em;
        padding-right: 1em;
    }
    /* banner */
    .banner-details{
        width: 100%;
    }
    .banner-details> h1{
        font-size: 1.5em;
    }
    .banner-details > p{
        color: #727272;
        font-size: 0.8em;
    }
    .btn-primary{
        border-radius: 8px;
        padding: 0.8em;
    }
    /* features section styles */
    .features{
        width: 80vw;
        grid-template-columns: repeat(1,1fr);
    }
    .image-collage{
        grid-template-columns: repeat(1,1fr);
        gap:10px;
    }
    .child-container{
        /* border: 1px solid skyblue; */
        border-radius: 10px;
    }
    .child-container > img{
        width: 100%;
        height: 100%;
    }
    .features-decsription{
        /* border: 1px solid skyblue; */
        margin: 10px 0px;
        width: 80%;
    }
    .features-decsription>h1{
        margin: 0px;
        font-size: 2em;
    }
    .features-decsription>p{
        font-size: 0.8em;
    }


    /* experience section styles */
    .experience{
        width: 80vw;
        margin-bottom: 15%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,auto);
        gap: 30px;
    }
    .experience-details>h1{
        width: 100%;
    }
    .experience-details>p{
        color: #727272;
        font-size: 0.9em;
    }
    .experience-cards h4{
        font-size: 0.8em;
    }
    .experience-cards>p{
        font-size: 0.8em;
    }
    .experience-image{
        border-radius: 8px;
        position: relative;
    }
    .experience-image img{
        width: 100%;
        height: 100%;
    }
    .years-experience{
        width: 7em;
    }
    .years-experience>h3{
        font-size: medium;
    }

    /* facts section styles */
    .facts{
        width: 80vw;
        gap: 20px;
    }
    .facts-cards{
        grid-template-columns: repeat(2,1fr);
        gap:10px;
        width: 90%;
        margin: 0px;
    }
    .facts-description{
        width: 100%;
    }
    .facts-description>p{
        font-size: 0.8em;
    }
    

    /* sponsors section styles */
    .sponsors{
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: auto;
        gap: 30px;
    }
    .sponsor-description{
        width: 100%;
    }
    .sponsor-description>h3{
        margin: 0px;
    }
    .sponsor-description>p{
        font-size: 0.8em;
        margin: 0px;
    }
    .sponsor-logos{
        /* using flex */
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* using grid */
        /* display: grid;
        grid-template-columns: repeat(5,1fr);
        gap:20px; */
    }
    .sponsor-logos img{
        width: 2em;
        height: 1em;
        filter: grayscale(100%);
    }
    /* .sponsor-logos > img:nth-of-type(5){
        padding-left: 20px;
    } */



    /* footer section responsive */
    footer{
        width: 100%;
        margin-bottom: 0%;
        border-radius: 0px;
        padding: 0px;
        margin-right: 0px;
    }
    footer > p{
        color: #727272;
        font-size: 0.6em;
    }
}